<footer class="bg-dark text-white ml-3 p-2 mt-3">
	<div class="row">
		<div class="col-md-3 ml-1">
			<h5>Layanan Pelanggan</h5>
			<p>Jika ada keluhan masalah atau ingin menyampaikan kritik maupun saran, silahkan kontak email kami</p>
		</div>
		<div class="col-md-2 ml-1">
			<h5>Tentang Kami</h5>
			<p>Sekelompok mahasiswa yang belum mengenal tujuannya</p>
		</div>
		<div class="col-md-3 ml-1">
			
		</div>
		<div class="col-md-3 ml-1">
			<h5>Hubungi kami</h5>
			<ul>
				<li>Email : septiandwirahmanza@gmail.com</li>
				<li>Contact person : 089522288300</li>
			</ul>
		</div>
        <div class="text-align">
            <p style="text-align: center;">@septiandwirahmanza</p>
        </div>
	</div>
</footer>	
</div>
</body>
</html>