*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: sans-serif;
	overflow: hidden;
	user-select: none;
}

nav .logo{
	color: white; 
	font-size: 35px;
	font-weight: bold;
	line-height: 70px;
	padding-left: 110px;
}
nav{
	height: 0px;
	box-shadow: 0 1px 10px rgba(0,0,0,.4);
}
nav ul{
	float: right;
	margin-right: 30px;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	display: block;
	padding: 0 20px;
	line-height: 70px;
	font-size: 15px;
	transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
	color: #23dbdb;
}
nav ul ul{
	position: absolute;
	top: 85px;
	border-top: 3px solid #23dbdb;
	opacity: 0;
	visibility: hidden;
}
nav ul li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: .3s linear;
}
nav ul ul li{
	width: 150px;
	display: list-item;
	position: relative;
	border: 1px solid #042331;
	border-top: none;
}
nav ul ul li a{
	line-height: 50px;
}
nav ul ul ul{
	border-top: none;
}
nav ul ul ul li{
	position: relative;
	top: -70px;
	left: 150px;
}
nav ul ul li a i{
	margin-left: 45px;
}
.gambar {
	padding:20px;
	width: 85%; 
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	margin:auto;
}
.gambar .foto img{
	width: 150px;
}    
.foto{ 
	margin:15px; 
	color: white;
	background: #70342988;
	text-align: center;
}
.foto a{ 
	padding:13px; 
	color: white; 
	background: rgba(80, 1, 1, 0.664); 
	text-decoration: none; 
	border-radius: 10px; 
	cursor: pointer;
}
section{
	background: url(img/tup2.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.wrapper{
	width: 100%;
	height: 500px;
	overflow-y: auto;
	padding-bottom: 520px;
}
.gambarr{
	padding:40px;
	width: 80%; 
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	margin:50px;
}
.gambarr .fotoo img{
	width: 555px;
}    

.mb-3{
	padding:10px;
	width: 85%; 
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	margin:auto;
	color: white;	
	background: rgba(105, 104, 104, 0.664); 
}

.form{ 
	padding:40px;
	width: 80%; 
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	margin:65px;
	color: white; 
	background: rgba(189, 183, 183, 0.664);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #23dbdb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23dbdb;
}