
.bg-atas{
    background-image: linear-gradient(rgba(247, 10, 10, 0.5), rgba(240, 20, 20, 0.5)),url(img/raf.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul li a:hover{
	background-color: rgb(24, 112, 163);
	color: #000;

}
ul li.active a{
	background-color: rgb(12, 103, 240);
	color: #000;
}
.main{
	max-width: 1200px;
	margin-bottom: auto;
}
.title{
    position: absolute;
	padding : 15px;
    top: 35%;
    right: 30%;
	left : 50%
    transform: translate(-50%;-50%);
}

.bawah{
    position: absolute;
    top: 90%;
    left: 48%;
    transform: translate(-50%;-50%);
}
.bawah h4{
    font-family:Helvetica;
    color: white;
    font-size: 22px;
}